.title {
  font-weight: 200;
  &.is-centered {
    text-align: center;
    margin: 15px;
  }
}

.header-container-button {
  text-align: right;
  margin-top: 25px;

  button {
    margin-left: 20px;
  }
}

.field-container {
  padding: 5px;
}