.navbar-background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(38, 46, 135, 0.8463760504201681) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0px 3px 7px 0px #545454;
}
